library/
/vendor
settings.php
.project/
.vagrant/
.idea/
cache/
web/swagger-ui/
custom
.DS_Store
web/theme/custom
node_modules
results.xml
containers/
web/dist
cypress/videos/
modules/bundle*.js*
modules/assets/pdfjs

# The OpenOOH specification
openooh/
openooh/specification.json

# PHPStorm config
tests/http-client.private.env.json
/.phpunit.result.cache

# Hide module/template translate file
locale/moduletranslate.php

# --- Flutter/Dart/Pub related ---
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
lib/generated_plugin_registrant.dart

# --- Symbolication related ---
app.*.symbols

# --- Obfuscation related ---
app.*.map.json

# --- Android Build & Config ---
*.jks
*.keystore
local.properties
key.properties
**/android/app/build/
**/android/.gradle/
**/android/captures/

# --- iOS & macOS ---
*.xcuserstate
*.ipa
DerivedData/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Generated.xcconfig
Flutter/flutter_export_environment.sh
Flutter/flutter_assets/
**/macos/Flutter/ephemeral

# --- Windows & Linux ---
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/